.right{
	text-align: right;
}
.left{
	text-align: left;
	
}
.red{
	color: red;
	opacity: 0.6;
}
.btn-update-notify{
	margin-left: 15px;
}
.btn-close{
	margin-left: 15px;
}
.btn-primary{
	margin-bottom: 5px;
}