.right{
	text-align: right;
}
.left{
	text-align: left;
	
}
.red{
	color: red;
	opacity: 0.6;
}
.btn-update-notify{
	margin-left: 15px;
}
.btn-close{
	margin-left: 15px;
}
.btn-primary{
	margin-bottom: 5px;
}
.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 1rem;
}